apiVersion: v1
kind: ConfigMap
metadata:
  name: hospital-backend-config
  namespace: "{{ k8s_namespace }}"
data:
  ASPNETCORE_ENVIRONMENT: "Production"
  Database__RunMigrationsOnStartup: "false"
  Demo__Enabled: "{{ demo_login_enabled | string | lower }}"
