apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: hospital-frontend
  namespace: "{{ k8s_namespace }}"
  labels:
    app.kubernetes.io/name: hospital-frontend
    app.kubernetes.io/part-of: hospitalsystem
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: hospital-frontend
  minReplicas: 1
  maxReplicas: 3
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
